body {
    background-color: lightskyblue;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#seletor {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#seletor h1 {
    margin: 0 auto;
    margin-bottom: 20px;
    color:#1a2430;
}

canvas {
    border: 1px solid #1a2430;
    display: block;
    margin: 0 auto;
}